@import url("/assets/fonts");
@font-face {
    font-family: AvenirLTStd-Book;
    src: url(/assets/fonts/AvenirLTStd-Book.woff);
}
@font-face {
    font-family: AvenirLTStd-Black;
    src: url(/assets/fonts/AvenirLTStd-Black.woff);
}
@font-face {
    font-family: AvenirLTStd-BlackOblique;
    src: url(/assets/fonts/AvenirLTStd-BlackOblique.woff);
}
@font-face {
    font-family: AvenirLTStd-BookOblique;
    src: url(/assets/fonts/AvenirLTStd-BookOblique.woff);
}
@font-face {
    font-family: AvenirLTStd-Light;
    src: url(/assets/fonts/AvenirLTStd-Light.woff);
}
@font-face {
    font-family: AvenirLTStd-LightOblique;
    src: url(/assets/fonts/AvenirLTStd-LightOblique.woff);
}
@font-face {
    font-family: AvenirLTStd-Medium;
    src: url(/assets/fonts/AvenirLTStd-Medium.woff);
}
@font-face {
    font-family: AvenirLTStd-MediumOblique;
    src: url(/assets/fonts/AvenirLTStd-MediumOblique.woff);
}
@font-face {
    font-family: AvenirLTStd-Oblique;
    src: url(/assets/fonts/AvenirLTStd-Oblique.woff);
}
@font-face {
    font-family: AvenirLTStd-Roman;
    src: url(/assets/fonts/AvenirLTStd-Roman.woff);
}
